.main-page {
    background-image: url("../../img/woodbackground.png");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center bottom -3em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}