@font-face {
  font-family: "poppin";
  src: local("poppin"), url("./fonts/Poppins-Regular.ttf") format("truetype");
  font-family: "chewy";
  src: local("chewy"), url("./fonts/Chewy-Regular.ttf") format("truetype");
}

.splash-page {
  text-align: center;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../src/img/update.png");
  background-size: cover;
  background-position: center bottom -3em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-title h2 {
  color: #003;
  font-family: "chewy";
  font-size: 2rem;
  font-weight: 400;
  max-width: 10em;
  margin-left: auto;
  margin-right: auto;
}

.splash-title p {
  color: #003;
  font-family: "poppins";
  font-size: 1rem;
  font-weight: 500;
  max-width: 21em;
}

.splash-title span {
  color: #003;
  font-family: "poppins";
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.button-begin {
  border-radius: 6.25rem;
  background: #f6a794;
  width: 20.0625rem;
  height: 4.4375rem;
  color: #003;
  font-family: "poppin";
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 50%;
  border: none;
}

button:hover {
  animation: rotate 0.7s ease-in-out both;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-3deg);
  }

  75% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (min-width: 769px) and (max-width: 1165px) {
  .background {
    background-position: center bottom;
  }

  .button-begin {
    margin-bottom: 28%;
  }
}

/* Media query for small screens */
@media (max-width: 768px) {
  .background {
    background-image: url("../src/img/splash_mobile_ver.png");
    background-position: center;
  }

  .splash-title h2 {
    max-width: 10em;
  }

  .splash-title p {
    max-width: 20em;
  }

  .button-begin {
    margin-bottom: 32%;
  }
}
